a2wsgi==1.10.10
absl-py==2.3.1
affine==2.4.0
aiosmtplib==5.0.0
aiosqlite==0.22.1
alembic==1.17.2
aniso8601==10.0.1
annotated-types==0.7.0
anyio==4.9.0
apache-airflow==3.1.5
apache-airflow-core==3.1.5
apache-airflow-providers-common-compat==1.11.0
apache-airflow-providers-common-io==1.7.0
apache-airflow-providers-common-sql==1.30.2
apache-airflow-providers-smtp==2.4.1
apache-airflow-providers-standard==1.10.2
apache-airflow-task-sdk==1.1.5
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.11.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.9.0
branca==0.8.2
CacheControl==0.14.3
cachetools==6.2.1
cadwyn==5.4.6
cassandra-driver==3.29.2
certifi==2025.6.15
cffi==2.0.0
charset-normalizer==3.4.2
click==8.3.0
click-plugins==1.1.1.2
cligj==0.7.2
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.10.1
comm==0.2.2
contextily==1.7.0
contourpy==1.3.2
cron_descriptor==2.0.6
croniter==6.0.0
cryptography==46.0.3
cycler==0.12.1
dask==2026.1.1
debtcollector==3.0.0
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
dill==0.4.0
dnspython==2.8.0
docker==7.1.0
email-validator==2.3.0
et_xmlfile==2.0.0
eventlet==0.40.3
executing==2.2.0
fastapi==0.117.1
fastapi-cli==0.0.20
fastjsonschema==2.21.1
firebase_admin==7.1.0
Flask==3.1.2
Flask-JWT-Extended==4.7.1
Flask-RESTful==0.3.10
flask-swagger-ui==5.21.0
flatbuffers==25.12.19
folium==0.20.0
fonttools==4.58.4
fqdn==1.5.1
fsspec==2025.12.0
futurist==3.2.1
gast==0.7.0
geographiclib==2.1
geomet==0.2.1.post1
geopy==2.4.1
google-api-core==2.26.0
google-auth==2.41.1
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.4.1
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.71.0
greenback==1.3.0
greenlet==3.2.4
grpcio==1.75.1
grpcio-status==1.75.1
h11==0.16.0
h2==4.3.0
h5py==3.15.1
haversine==2.9.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.1
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kafka-python==2.3.0
keras==3.13.1
kiwisolver==1.4.8
lazy-object-proxy==1.12.0
libclang==18.1.1
libcst==1.8.6
linkify-it-py==2.0.3
locket==1.0.0
lockfile==0.12.2
lorem==0.1.1
Mako==1.3.10
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mercantile==1.2.1
methodtools==0.4.7
mistune==3.1.3
ml_dtypes==0.5.4
more-itertools==10.8.0
msgpack==1.1.2
msgspec==0.20.0
mysql-connector-python==9.4.0
mysql-replication==1.0.9
namex==0.1.0
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.2
notebook==7.5.2
notebook_shim==0.2.4
notebookjs==0.1.4
numpy==2.3.1
openpyxl==3.1.5
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opt_einsum==3.4.0
optree==0.18.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==25.0
paho-mqtt==1.6.1
pandas==2.3.0
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
pathspec==0.12.1
pendulum==3.1.0
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
proto-plus==1.26.1
protobuf==6.33.0
psutil==7.0.0
pure_eval==0.2.3
pyarrow==23.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pygtrie==2.5.0
PyJWT==2.10.1
pymongo==4.15.3
PyMySQL==1.1.2
pyparsing==3.2.3
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==3.3.0
python-multipart==0.0.21
python-slugify==8.0.4
pytz==2025.2
pywin32==310
pywinpty==2.0.15
PyYAML==6.0.2
PyYAML-ft==8.0.0
pyzmq==27.0.0
rasterio==1.4.3
redis==6.4.0
referencing==0.36.2
regex==2026.1.15
requests==2.32.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.2.0
rich-argparse==1.7.2
rich-toolkit==0.17.1
rpds-py==0.25.1
rsa==4.9.1
scikit-learn==1.8.0
scipy==1.16.0
seaborn==0.13.2
Send2Trash==1.8.3
setproctitle==1.3.7
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.43
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.42.1
sqlparse==0.5.5
stack-data==0.6.3
starlette==0.48.0
structlog==25.5.0
svcs==25.1.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
terminado==0.18.1
text-unidecode==1.3
thread6==0.2.0
threadpoolctl==3.6.0
tinycss2==1.4.0
toolz==1.1.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typer==0.21.0
types-python-dateutil==2.9.0.20250516
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uc-micro-py==1.0.3
universal_pathlib==0.2.6
uri-template==1.3.0
urllib3==2.5.0
uuid6==2025.0.1
uvicorn==0.40.0
watchfiles==1.1.1
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.15
wirerope==1.0.0
wrapt==1.17.3
xlrd==2.0.2
xlsxwriter==3.2.5
xlwt==1.3.0
xyzservices==2025.11.0
zipp==3.23.0
